body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}

.app-title {
  margin: 75px 20px 50px; /* responsive margin */
  font-size: 76px;
  color: #0ccac4;
  font-family: "Silkscreen", cursive;
  line-height: 1.1;
}

/* Responsive font size for smaller screens */
@media (max-width: 768px) {
  .app-title {
    font-size: 50px;
  }
}

@media (max-width: 420px) {
  .app-title {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
